name: Publish Artifacts
on:
  workflow_dispatch:
jobs:
  release:
    strategy:
      matrix:
        # Use these Java versions
        java: [17]
        # and run on both Linux and Windows
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Fetch tags
        run: git fetch --tags
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Make Gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: Build & Publish
        run: ./gradlew build :antimatter-forge:publish :antimatter-fabric:publish :antimatter-common:publish --stacktrace
        env:
          GITHUB_RELEASE: true
      - name: Upload Forge Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Antimatter-forge-nightly-${{ steps.vars.outputs.sha_short }}
          path: forge/build/libs
        env:
          USERNAME: ${{ github.actor }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Fabric Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Antimatter-fabric-nightly-${{ steps.vars.outputs.sha_short }}
          path: fabric/build/libs
        env:
          USERNAME: ${{ github.actor }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
